*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
}

header, footer {
    height: 178px;
    width: 100%;
    background-color: #0B327F;
    display: flex;
    justify-content: center;
    align-items: center;
}

header img{
    height: 150px;
}

body{
    font-family: 'Courier New', Courier, monospace;
} 

main{
    height: 718px;
    width: 100%;
}

main img{
    height: 490px;
    /* border: 2px  solid rgb(255, 60, 0) ; */
}

.container{
    /* border: 2px  solid rgb(255, 60, 0) ; */
    margin: 0% auto;
    max-width: 1200px;
}

.descricao-ale{
    /* border: 2px solid royalblue; */
    width: 500px;

}

.descricao-ale h1{
    margin-bottom: 20px;
}

.descricao-ale p{
    margin-top: 20px;
}

.ale-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 40px;
    padding-bottom: 40px;

} 

footer p{
    color: aliceblue;
    
}
